
#banner-slider {
    background-color: #000 !important;
}

#banner-slider .swiper {
    background-color: #000 !important;
}

#banner-slider .swiper-wrapper {
    background-color: #000 !important;
}

#banner-slider .swiper-slide {
    background-color: #000 !important;
}

#banner-slider .swiper-slide {
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    transform: translate3d(0, 0, 0);
}

#banner-slider .swiper-slide-active {
    z-index: 1;
}

#banner-slider .swiper-slide-prev,
#banner-slider .swiper-slide-next {
    z-index: 0;
}

.dot-navigation button:hover {
    background: #fff !important;
    transform: scale(1.34) !important;
}

@media (prefers-reduced-motion: reduce) {
    #banner-slider .swiper-slide {
        transition-duration: 0.01ms !important;
    }
}