@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
    max-width: unset;
    height: unset;
}

@-webkit-keyframes fade {
    from {
        filter: brightness(0);
    }

    to {
        filter: brightness(1);
    }
}

@keyframes fade {
    from {
        filter: brightness(0);
    }

    to {
        filter: brightness(1);
    }
}

@keyframes scrollright {
    0% {
        transform: translateX(calc(-300px * 18));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes scrollleft {
    0% {}

    100% {
        transform: translateX(calc(-250px * 18));
    }
}

@keyframes loading {
    100% {
        transform: rotate(360deg);
    }
}

#mobile-menu {
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
    -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

:root:has(.no-doc-scroll) {
    overflow: hidden;
}

#team .slick-list {
    width: 85% !important;
    margin: 0 auto !important;
}

#team .slick-slide>div {
    margin: 0 !important;
}

@media screen and (max-width: 991px) {
    #content-middle .slick-list {
        width: 100% !important;
        margin: 0 auto !important;
    }
}

@media (min-width: 768px) {
    #team .slick-list {
        width: 92% !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }

    #team .slick-track {
        display: flex;
        justify-content: space-evenly !important;
        gap: 0.7rem;
    }
}

@media (min-width: 1024px) {
    #team .slick-list {
        width: 94% !important;
        margin-left: auto !important;
        margin-right: 0 !important;
    }
}

@media only screen and (max-width: 320px) {}

#content-middle .slick-list {
    width: 90% !important;
    margin: 0 auto !important;
}

@media (max-width: 1024px) {}

@media (max-width: 414px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 450px) {}

.section-wrapper {
    background: url("../../public/images/bg-quote-header-left.webp") left top no-repeat,
        url("../../public/images/bg-quote-header-right.webp") right top no-repeat;
    width: 100%;
}

@media (max-width: 480px) {}

strong {
    font-weight: 500;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 768px) {

    .partners--item__partner .rowluk-img,
    .partners--item__partner .abir-img,
    .partners--item__partner .corporate-uk-img,
    .partners--item__partner .protective-img {
        width: 90% !important;
    }

    .partners--item__partner .avertic_img {
        width: 60% !important;
    }
}

.partners ul li {
    position: relative;
    padding-left: 1em;
    /* Space for the bullet */
}

.partners ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 18px;
    font-weight: 900;
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
}

.partner-logo {
    display: block;
    margin: 30px auto;
    float: none;
    width: var(--mobile-width);
    /* Default to mobile width */
}

/* Apply styles for screens 768px and above */
@media (min-width: 768px) {
    .partner-logo {
        margin-left: 24px;
        margin-bottom: 30px;
        float: right;
        width: var(--logo-width);
        /* Apply desktop width */
    }
}

.scroll-height {
    width: auto;
    /* Default to mobile width */
}

/* Apply styles for screens 768px and above */
@media (min-width: 992px) {
    .scroll-height {
        height: var(--scroll-height);
        /* Apply desktop width */
    }
}

.service-page a:not(.button) {
    color: #957433 !important;
    font-weight: 500;
    font-family: "Montserrat";
}

.service-page a:not(.button):hover {
    text-decoration: underline;
}

/* Apply styles for screens 768px and above */
@media (min-width: 1024px) {
    #video-section {
        height: var(--video-height);
        /* Apply desktop width */
    }
}

.services-list li::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 20px;
    background-image: url(../../public/images/icons/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 34px;
}

.services-list {
    margin: 0 auto 32px;
    margin-left: 40px;
}

.services-list li {
    text-indent: -2.2em;
    margin: 10px 0;
}

.services-content li::before {
    content: "";
    display: inline-block;
    height: 15px;
    width: 20px;
    background-image: url(../../public/images/icons/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding-right: 34px;
    margin-top: 10px;
}

.services-content li {
    display: flex;
}

#mapContainer {
    width: 100%;
    height: 500px;
}

#contact-form-form-panel .select-box-section .input-select-department-wrapper .ic-carret {
    background-image: url("https://securecash.com.au/images/contact-page/select-box-cerret-down.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 14px;
    margin-left: -24px;
}

@media (max-width: 768px) {
    .contact-page {
        padding: 60px 0;
    }
}

@media (max-width: 480px) {
    .contact-page {
        background-position: 60% !important;
        background-size: cover !important;
    }
}

.react-date-picker__wrapper {
    border: none !important;
}

.react-date-picker__button:enabled:hover .react-date-picker__button__icon,
.react-date-picker__button:enabled:focus .react-date-picker__button__icon {
    stroke: #9e8034 !important;
}

.react-date-picker__inputGroup>input::placeholder {
    color: #333333;
}

.react-calendar__tile--now {
    background: #000 !important;
    color: white !important;
}

.react-calendar__tile--active {
    background: #9e8034 !important;
    color: white;
}

.react-date-picker__inputGroup__input:invalid {
    background: none !important;
}

form input::-webkit-validation-bubble-message,
form select::-webkit-validation-bubble-message,
form textarea::-webkit-validation-bubble-message {
    display: none;
}

.custom-file input[type="file"] {
    display: none;
}

input[type="radio"] {
    accent-color: #9e8034;
}

.react-date-picker--disabled {
    background-color: #ffff !important;
    color: #6d6d6d;
}

.react-date-picker {
    border: 1px solid #e5e7eb;
    border-radius: 2px;
}

.contact-testimonial--carousel__items .carousel-item .excerpt p {
    position: relative;
    quotes: "“" "”";
}

.contact-testimonial--carousel__items .carousel-item .excerpt p:before {
    color: #c8c8c8;
    content: open-quote;
    font-size: 150px;
    font-family: "Prata";
    left: -68px;
    position: absolute;
    top: 45px;
}

.contact-testimonial--carousel__items .carousel-item .excerpt p:after {
    color: #c8c8c8;
    content: close-quote;
    font-size: 150px;
    font-family: "Prata";
    right: -66px;
    position: absolute;
    bottom: -68px;
}

@media (max-width: 768px) {
    .contact-testimonial--carousel__items .carousel-item .excerpt {
        width: 68%;
    }
}

@media (max-width: 480px) {
    .contact-testimonial--carousel__items .carousel-item .excerpt {
        width: 77%;
    }
}

@media (max-width: 480px) {
    .contact-testimonial--carousel__items .carousel-item .excerpt p:before {
        font-size: 120px;
        left: -45px;
    }
}

@media (max-width: 480px) {
    .contact-testimonial--carousel__items .carousel-item .excerpt p:after {
        font-size: 120px;
        right: -45px;
        bottom: -47px;
    }
}

@media (max-width: 1024px) {
    #headline-content {
        height: 454px;
    }

    #headline-content {
        height: 300px;
    }

    #headline-wrapper h1 {
        font-size: 40px;
    }

    #headline-wrapper h3.prata {
        font-size: 24px;
    }

    #headline-wrapper p {
        font-size: 16px;
    }

    #headline-wrapper h1,
    #headline-wrapper h3.prata,
    #headline-wrapper p,
    #headline-wrapper hr {
        margin-bottom: 16px;
    }
}

@media (max-width: 768px) {
    #headline-content {
        height: 412px;
    }

    #headline-wrapper h1 {
        font-size: 40px;
    }

    #headline-wrapper h3.prata {
        font-size: 24px;
    }

    #headline-wrapper p {
        font-size: 16px;
    }

    #headline-wrapper h1,
    #headline-wrapper h3.prata,
    #headline-wrapper p,
    #headline-wrapper hr {
        margin-bottom: 16px;
    }
}

@media (max-width: 720px) {
    #headline-content {
        height: 377px;
    }
}

@media (max-width: 480px) {
    #headline-content {
        height: 406px;
    }

    @media screen and (max-width: 414px) {
        #headline-wrapper {
            width: 90%;
            margin-left: auto;
            margin-right: auto;
        }

        #headline-content {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        #headline-wrapper h1 {
            line-height: 1.2em;
        }

        #headline-wrapper h3.prata {
            margin-bottom: 13px;
        }

        #headline-wrapper p {
            margin-bottom: 0px;
        }
    }

    @media screen and (max-width: 320px) {
        #headline-wrapper {
            width: 80%;
        }

        #headline-wrapper h3.prata {
            line-height: 1.6em;
            margin-bottom: 8px;
        }
    }
}


.bg-dots {
    background: url("../../public/images/bg-quote-header-left.png") left center no-repeat,
        url("../../public/images/bg-quote-header-right.png") right center no-repeat;
    width: 100%;
}

.bg-gray {
    background-color: #f4f3f2;
}



#quote-content {
    background: url("https://securecash.com.au/images/secure-cash-head-office-2.png"),
        url("../../public/images/bar-quote.png"),
        url("../../public/images/bg-body-left.png"),
        url("../../public/images/bg-body-right.png");
    background-size: auto, 100% 359px, auto, auto;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    background-position: -moz-calc(((100% - 1366px) / 2) + 424px) 41px, left top,
        left bottom, right bottom;
    background-position: -webikit-calc(((100% - 1366px) / 2) + 424px) 41px,
        left top, left bottom, right bottom;
    background-position: calc(((100% - 1366px) / 2) + 424px) 41px, left top,
        left bottom, right bottom;
}





#quote-content-left {
    text-align: center;
    flex: 1.5;
}

#quote-content-left h3 {
    text-align: center;
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 8px;
    line-height: 1.4em;
    margin-top: -10px;
}

#quote-content-left hr.divider-bottom {
    margin: 0 auto;
}

#quote-content-right>#frm-contact {
    margin-top: 56px;
    width: 100%;
    float: none;
}

#quote-content-right>#step-dots-container {
    margin-right: 0;
    width: 100%;
    margin-left: auto;
}

#quote-content-left>img {
    height: 320px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

#quote-content #quote-content-right {
    overflow: visible;
}

#quote-content #quote-content-right .quote-page-form {
    margin-top: 18px;
}

@media (max-width: 1024px) {
    #quote-content #quote-content-right .quote-page-form {
        width: 450px;
    }
}

@media (max-width: 768px) {
    #quote-content #quote-content-right .quote-page-form {
        margin-bottom: 60px;
        width: auto;
    }
}

@media (max-width: 768px) {
    #quote-content-right .forms-quote {
        margin-top: 0 !important;
    }

    #note-wrapper {
        text-align: center;
    }

    #left-content-text-wrapper {
        padding-bottom: 40px;
    }

    #note-wrapper {
        margin-bottom: 40px;
    }

    #contact-info-wrapper {
        text-align: center;
    }

    #left-content-text-wrapper>a.btn-wrapper {
        margin-left: auto;
        margin-right: auto;
    }

    #left-content-text-wrapper p {
        padding: 0px;
        margin: 0;
        line-height: 2em;
    }

    #contact-info-wrapper>.mid-row-divider-wrapper {
        margin-left: 8px;
        margin-right: 8px;
    }
}

#quote-content-left #left-content-text-wrapper {
    padding-bottom: 20px;
    padding-top: 54px;
}

#left-content-text-wrapper {
    padding: 40px 8px 0 8px;
    display: flex;
    flex-direction: column;
    margin-top: 360px;
}

#left-content-text-wrapper h4 {
    font-size: 24px;
    line-height: 1.4em;
}

#left-content-text-wrapper h4.icon {
    font-weight: 400;
}

#left-content-text-wrapper p {
    font-family: "Montserrat Light";
    line-height: 2em;
    margin-bottom: 8px;
}

#left-content-header-wrapper {
    margin-bottom: 36px;
}

#contact-info-wrapper {
    min-height: 250px;
    text-align: left;
}

#note-wrapper {
    margin-bottom: 24px;
    text-align: center;
}

#contact-info-wrapper>.mid-row-divider-wrapper {
    background: transparent;
    flex: 1;
    align-items: flex-end;
    display: flex;
    margin-left: 16px;
    margin-right: 16px;
}

#contact-info-wrapper>.mid-row-divider-wrapper>.mid-row-divider {
    align-self: flex-end;
    background-color: #dddddd;
    width: 1px;
    height: -moz-calc(100% - 48px);
    height: -webikit-calc(100% - 48px);
    height: calc(100% - 48px);
}

#contact-info-wrapper {
    display: flex;
    padding-bottom: 36px;
}

.contact-info-item {
    max-width: 50%;
}

.contact-info-item p {
    line-height: 2em;
}

@media screen and (max-width: 414px) {
    #contact-info-wrapper {
        flex-direction: column;
        padding-bottom: 32px;
    }

    #note-wrapper {
        margin-bottom: 36px;
    }

    #contact-info-wrapper>.mid-row-divider-wrapper {
        display: none;
    }

    .contact-info-item {
        width: 100%;
        max-width: 100%;
    }

    #contact-info-wrapper div.contact-info-item:last-child {
        margin-top: 32px;
    }
}

@media (max-width: 768px) {
    .qoute-callback-cta-desktop {
        display: none;
    }
}