@media (max-width: 480px) {
    .welcome-main-hero {
        height: 100%
    }
}

@media (max-width: 1366px) {
    .welcome-main-hero--content-left {
        padding: 178px 0 145px 50px
    }
}

@media (max-width: 1024px) {
    .welcome-main-hero--content-left {
        padding: 151px 54px 118px 50px
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left {
        padding: 138px 0 128px 24px;
        width: 40%
    }
}

@media (max-width: 480px) {
    .welcome-main-hero--content-left {
        padding: 66px 0 56px;
        width: 100%;
        text-align: center
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left__title-sm {
        font-size: 26px;
        margin-bottom: 6px
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left__title {
        font-size: 38px
    }
}

@media (max-width: 480px) {
    .welcome-main-hero--content-left__title {
        font-size: 38px;
        line-height: 42px
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left .divider-gold {
        margin: 20px 0 36px
    }
}

@media (max-width: 480px) {
    .welcome-main-hero--content-left .divider-gold {
        margin: 22px auto 34px
    }
}

@media (max-width: 1024px) {
    .welcome-main-hero--content-left__text {
        width: auto
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left__text {
        font-size: 14px;
        line-height: 20px;
        max-width: 248px
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left__text {
        max-width: 100%
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left .btn-welcome-main {
        font-size: 14px;
        padding: 12px 20px
    }
}

@media (max-width: 1024px) {
    .welcome-main-hero--content-left .arrow-down {
        bottom: -54px
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-left .arrow-down {
        display: none
    }
}

@media (max-width: 768px) {
    .welcome-main-hero::before {
        height: 579px;
        width: 40%
    }
}

@media (max-width: 480px) {
    .welcome-main-hero::before {
        height: 534px;
        width: 100%
    }
}

@media (max-width: 480px) {
    .welcome-main-hero--content-right {
        width: 100%
    }
}

@media (max-width: 1366px) {
    .welcome-main-hero--content-right--card {
        padding: 88px 63px;
        position: absolute;
        top: 14%;
        right: 14px;
        width: 105%
    }
}

@media (max-width: 1024px) {
    .welcome-main-hero--content-right--card {
        padding: 54px 43px;
        top: 15%;
        right: 7px;
        width: 105%
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-right--card {
        padding: 40px 43px;
        top: 14%;
        right: -68px;
        width: 122%
    }
}

@media (max-width: 480px) {
    .welcome-main-hero--content-right--card {
        position: relative;
        width: auto;
        margin: 0 20px;
        top: 0;
        right: 0
    }
}

@media (max-width: 768px) {
    .welcome-main-hero--content-right--card p {
        font-size: 14px
    } }


        @tailwind base;
        @tailwind components;
        @tailwind utilities;
    
        img,
        video {
            max-width: unset;
            height: unset;
        }
    
        @-webkit-keyframes fade {
            from {
                filter: brightness(0);
            }
    
            to {
                filter: brightness(1);
            }
        }
    
        @keyframes fade {
            from {
                filter: brightness(0);
            }
    
            to {
                filter: brightness(1);
            }
        }
    
        @keyframes scrollright {
            0% {
                transform: translateX(calc(-300px * 18));
            }
    
            100% {
                transform: translateX(0);
            }
        }
    
        @keyframes scrollleft {
            0% {}
    
            100% {
                transform: translateX(calc(-250px * 18));
            }
        }
    
        @keyframes loading {
            100% {
                transform: rotate(360deg);
            }
        }
    
        #mobile-menu {
            /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
            -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
            -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
        }
    
        :root:has(.no-doc-scroll) {
            overflow: hidden;
        }
    
        #team .slick-list {
            width: 85% !important;
            margin: 0 auto !important;
        }
    
        #team .slick-slide>div {
            margin: 0 !important;
        }
    
        @media screen and (max-width: 991px) {
            #content-middle .slick-list {
                width: 100% !important;
                margin: 0 auto !important;
            }
        }
    
        @media (min-width: 768px) {
            #team .slick-list {
                width: 92% !important;
                margin-left: auto !important;
                margin-right: 0 !important;
            }
    
            #team .slick-track {
                display: flex;
                justify-content: space-evenly !important;
                gap: 0.7rem;
            }
        }
    
        @media (min-width: 1024px) {
            #team .slick-list {
                width: 94% !important;
                margin-left: auto !important;
                margin-right: 0 !important;
            }
        }
    
        @media only screen and (max-width: 320px) {}
    
        #content-middle .slick-list {
            width: 90% !important;
            margin: 0 auto !important;
        }
    
        @media (max-width: 1024px) {}
    
        @media (max-width: 414px) {}
    
        @media only screen and (max-width: 992px) {}
    
        @media only screen and (max-width: 736px) {}
    
        @media only screen and (max-width: 450px) {}
    
        .section-wrapper {
            background: url("../../public/images/bg-quote-header-left.webp") left top no-repeat,
                url("../../public/images/bg-quote-header-right.webp") right top no-repeat;
            width: 100%;
        }
    
        @media (max-width: 480px) {}
    
        strong {
            font-weight: 500;
        }
    
        html {
            scroll-behavior: smooth;
        }
    
        @media (max-width: 768px) {
    
            .partners--item__partner .rowluk-img,
            .partners--item__partner .abir-img,
            .partners--item__partner .corporate-uk-img,
            .partners--item__partner .protective-img {
                width: 90% !important;
            }
    
            .partners--item__partner .avertic_img {
                width: 60% !important;
            }
        }
    
        .partners ul li {
            position: relative;
            padding-left: 1em;
            /* Space for the bullet */
        }
    
        .partners ul li::before {
            content: "•";
            position: absolute;
            left: 0;
            top: 0;
            font-size: 18px;
            font-weight: 900;
            unicode-bidi: isolate;
            font-variant-numeric: tabular-nums;
            text-transform: none;
        }
    
        .partner-logo {
            display: block;
            margin: 30px auto;
            float: none;
            width: var(--mobile-width);
            /* Default to mobile width */
        }
    
        /* Apply styles for screens 768px and above */
        @media (min-width: 768px) {
            .partner-logo {
                margin-left: 24px;
                margin-bottom: 30px;
                float: right;
                width: var(--logo-width);
                /* Apply desktop width */
            }
        }
    
        .scroll-height {
            width: auto;
            /* Default to mobile width */
        }
    
        /* Apply styles for screens 768px and above */
        @media (min-width: 992px) {
            .scroll-height {
                height: var(--scroll-height);
                /* Apply desktop width */
            }
        }
    
        .service-page a:not(.button) {
            color: #957433 !important;
            font-weight: 500;
            font-family: "Montserrat";
        }
    
        .service-page a:not(.button):hover {
            text-decoration: underline;
        }
    
        /* Apply styles for screens 768px and above */
        @media (min-width: 1024px) {
            #video-section {
                height: var(--video-height);
                /* Apply desktop width */
            }
        }
    
        .services-list li::before {
            content: "";
            display: inline-block;
            height: 15px;
            width: 20px;
            background-image: url(../../public/images/icons/check.png);
            background-size: contain;
            background-repeat: no-repeat;
            padding-right: 34px;
        }
    
        .services-list {
            margin: 0 auto 16px;
            margin-left: 40px;
        }
    
        .services-list li {
            text-indent: -2.2em;
            margin: 10px 0;
        }
    
        #mapContainer {
            width: 100%;
            height: 500px;
        }
    
        #contact-form-form-panel .select-box-section .input-select-department-wrapper .ic-carret {
            background-image: url("https://securecash.com.au/images/contact-page/select-box-cerret-down.png");
            background-repeat: no-repeat;
            background-position: center center;
            width: 14px;
            margin-left: -24px;
        }
    
        @media (max-width: 768px) {
            .contact-page {
                padding: 60px 0;
            }
        }
    
        @media (max-width: 480px) {
            .contact-page {
                background-position: 60% !important;
                background-size: cover !important;
            }
        }
    
        .react-date-picker__wrapper {
            border: none !important;
        }
    
        .react-date-picker__button:enabled:hover .react-date-picker__button__icon,
        .react-date-picker__button:enabled:focus .react-date-picker__button__icon {
            stroke: #9e8034 !important;
        }
    
        .react-date-picker__inputGroup>input::placeholder {
            color: #333333;
        }
    
        .react-calendar__tile--now {
            background: #000 !important;
            color: white !important;
        }
    
        .react-calendar__tile--active {
            background: #9e8034 !important;
            color: white;
        }
    
        .react-date-picker__inputGroup__input:invalid {
            background: none !important;
        }
    
        form input::-webkit-validation-bubble-message,
        form select::-webkit-validation-bubble-message,
        form textarea::-webkit-validation-bubble-message {
            display: none;
        }
    
        .custom-file input[type="file"] {
            display: none;
        }
    
        input[type="radio"] {
            accent-color: #9e8034;
        }
    
        .react-date-picker--disabled {
            background-color: #ffff !important;
            color: #6d6d6d;
        }
    
        .react-date-picker {
            border: 1px solid #e5e7eb;
            /* border: 1px solid rgb(99 99 99 / 0.5); */
            border-radius: 2px;
        }
    
        .contact-testimonial--carousel__items .carousel-item .excerpt p {
            position: relative;
            quotes: "“" "”";
        }
    
        .contact-testimonial--carousel__items .carousel-item .excerpt p:before {
            color: #c8c8c8;
            content: open-quote;
            font-size: 150px;
            font-family: "Prata";
            left: -68px;
            position: absolute;
            top: 45px;
        }
    
        .contact-testimonial--carousel__items .carousel-item .excerpt p:after {
            color: #c8c8c8;
            content: close-quote;
            font-size: 150px;
            font-family: "Prata";
            right: -66px;
            position: absolute;
            bottom: -68px;
        }
    
        .bg-dots {
            background: url("../../public/images/bg-quote-header-left.png") left center no-repeat,
                url("../../public/images/bg-quote-header-right.png") right center no-repeat;
            width: 100%;
        }
    
        .bg-gray {
            background-color: #f4f3f2;
        }
    
        #quote-content {
            background: url("https://securecash.com.au/images/secure-cash-head-office-2.png"),
                url("../../public/images/bar-quote.png"),
                url("../../public/images/bg-body-left.png"),
                url("../../public/images/bg-body-right.png");
            background-size: auto, 100% 359px, auto, auto;
            background-repeat: no-repeat;
            margin-bottom: 40px;
            background-position: -moz-calc(((100% - 1366px) / 2) + 424px) 41px, left top,
                left bottom, right bottom;
            background-position: -webikit-calc(((100% - 1366px) / 2) + 424px) 41px,
                left top, left bottom, right bottom;
            background-position: calc(((100% - 1366px) / 2) + 424px) 41px, left top,
                left bottom, right bottom;
        }
    
        @media screen and (max-width: 1366px) {
            #quote-content {
                background-position: -moz-calc(50% - (567px/2.75)) 41px, left top,
                    left bottom, right bottom;
                background-position: -webikit-calc(50% - (567px/2.75)) 41px, left top,
                    left bottom, right bottom;
                background-position: calc(50% - (567px / 2.75)) 41px, left top, left bottom,
                    right bottom;
            }
        }
    
        @media screen and (max-width: 1024px) {
            #quote-content {
                background-size: auto 209px, 100% 250px, 50%, 50%;
                background-position: -moz-calc(50% - (567px/2.5)) 41px, left top,
                    left bottom, right bottom;
                background-position: -webikit-calc(50% - (567px/2.5)) 41px, left top,
                    left bottom, right bottom;
                background-position: calc(50% - (567px / 2.5)) 41px, left top, left bottom,
                    right bottom;
            }
        }
    
        @media screen and (max-width: 768px) {
            #quote-content {
                background-size: auto 300px;
            }
    
            #quote-content {
                background-size: auto 209px, 100% 250px, 50%, 50%;
                background-position: center 41px, left top, left bottom, right bottom;
                background-position: center 41px, left top, left bottom, right bottom;
                background-position: center 41px, left top, left bottom, right bottom;
            }
        }
    
        @media screen and (max-width: 414px) {
            #quote-content {
                background-size: auto 209px, 100% 250px, 50%, 50%;
            }
    
            #headline-content {
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    
        @media screen and (max-width: 320px) {
            #quote-content {
                background-size: auto 210px;
            }
        }
    
        @media (max-width: 1024px) {
            #headline-content {
                height: 454px;
            }
    
            #headline-content {
                height: 300px;
            }
    
            .bg-dots {
                background-size: contain;
            }
    
            .bg-dots {
                background-size: 50%, 50%;
            }
        }
    
        @media (max-width: 768px) {
            #headline-content {
                height: 412px;
            }
    
            .bg-dots {
                background-size: 75%, 75%;
            }
        }
    
        @media (max-width: 720px) {
            #headline-content {
                height: 377px;
            }
        }
    
        @media (max-width: 480px) {
            #headline-content {
                height: 406px;
            }
        }
    
        .services-content li::before {
            content: "" !important;
            display: inline-block !important;
            height: 15px !important;
            width: 20px !important;
            background-image: url(../../public/images/icons/check.png) !important;
            background-size: contain !important;
            background-repeat: no-repeat !important;
            padding-right: 34px !important;
            margin-top: 10px !important;
        }
    
        .services-content li {
            display: flex !important;
        }
    
        .services-content li span h4 {
            font-size: 20px;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            color: #000;
            text-align: left;
            margin-bottom: 10px;
        }
    
        .services-content li span p {
            font-size: 16px;
            line-height: 2rem;
            color: #000;
            text-align: left;
            font-weight: 300;
        }
    
        .services-content li:not(:first-child)::before {
            margin-top: 26px !important;
        }
    
        @media (min-width: 600px) {
            .your-element {
                line-height: 1.6em;
            }
        }
    
        @media (min-width: 992px) {
            .your-element {
                width: 100%;
            }
        }
    
        .services-content li span p:not(:last-child) {
            margin-bottom: 10px;
        }
    
        .services-content li:not(:first-child) span h4 {
            margin-top: 16px;
        }
    
        #content-contact .services-content li:not(:first-child) span h4 {
            margin-top: 20px;
        }
    
        .testing {
            background: linear-gradient(90deg,
                    #000 50%,
                    url("/public/images/welcome/identify-business-hero-img.jpg") 50%);
        }
    
        .section-wrapper {
            background: url("../../public/images/bg-quote-header-left.webp") left top no-repeat,
                url("../../public/images/bg-quote-header-right.webp") right top no-repeat;
            width: 100%;
        }
    
        /* for privacy policy and terms of service pages */
        #intro {
            max-width: 1366px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            padding-left: 20px;
            padding-right: 20px;
            justify-content: center;
            align-items: center;
        }
    
        #intro h2 {
            text-align: center;
            margin: 0 auto;
            line-height: 45px;
            max-width: 80%;
            color: #000;
        }
    
        #intro .content-wrapper {
            width: 80%;
            margin-top: 50px;
            padding: 0;
        }
    
        #intro .content-wrapper p {
            text-align: center;
            color: #000;
        }
    
        @media screen and (min-width: 1366px) {
            #instruction-box {
                margin-right: calc((100% - 1366px) / 2);
            }
    
        }