.forms-quote .chkbox-container .form-notification i {
  min-width: 0;
  padding: 0 6px 0 0;
  color: red;
}

.forms-quote .chkbox-container .form-notification::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.forms-quote .input-container-select .form-notification {
  z-index: 10;
  color: #000;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  background: #fff;
  left: 3%;
  border: 1px solid #a4a7a9;
  border-radius: 4px;
  width: 93%;
  line-height: 18px;
  top: 40px;
  display: none;
}

.forms-quote .input-container-select .form-notification i {
  min-width: 0;
  padding: 0 6px 0 0;
  color: red;
  font-size: 20px;
  background: none;
  position: initial;
  margin: 0;
}

.forms-quote .input-container-select .form-notification::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}



.forms-quote .input-container .form-notification {
  z-index: 10;
  color: #000;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  background: #fff;
  left: 3%;
  border: 1px solid #a4a7a9;
  border-radius: 4px;
  width: 93%;
  line-height: 18px;
  top: 37px;
  display: none;
}

.forms-quote .input-container .form-notification i {
  min-width: 0;
  padding: 0 6px 0 0;
  color: red;
}

.forms-quote .input-container .form-notification::after {
  content: "";
  position: absolute;
  left: 4px;
  top: -4px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.submit-status .submit-notif-submitting,
.submit-status .submit-notif-success {
  font-size: 17px !important;
  display: none;
}.submit-status.dispatch-submitting .dispatch-submit {
  cursor: auto;
  color: #c6a54b;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.submit-status.dispatch-submitting .submit-notif-submitting {
  display: inline;
  font-size: 17px !important;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -114px;
  cursor: default;
}

.submit-status.dispatch-submitting .submit-notif-submitting i {
  animation: loading 1000ms linear infinite;
  display: inline-block;
}
.submit-status.dispatch-success .dispatch-submit {
  cursor: auto;
  background: #4bb543;
  color: #4bb543;
  transition: all 0.2s ease;
}

.submit-status.dispatch-success .dispatch-submit:hover {
  opacity: 1;
  cursor: default;
}
.submit-status-alt.dispatch-submitting .dispatch-submit {
  cursor: auto;
  color: #c6a54b;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.submit-status-alt.dispatch-submitting .submit-notif-submitting {
  display: inline;
  font-size: 16px !important;
  font-family: "Montserrat Light";
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -108px;
  cursor: default;
}

.submit-status-alt.dispatch-submitting .submit-notif-submitting i {
  animation: loading 1000ms linear infinite;
  display: inline-block;
}.submit-status-alt.dispatch-submitting .hazard-form--btn-wrap {
  position: relative;
}

.submit-status-alt.dispatch-submitting
  .hazard-form--btn-wrap
  .submit-notif-submitting {
  margin-top: -14px;
}

.submit-status-alt.dispatch-success .dispatch-submit {
  cursor: auto;
  background: #4bb543;
  color: #4bb543;
  transition: all 0.2s ease;
}

.submit-status-alt.dispatch-success .dispatch-submit:hover {
  opacity: 1;
  cursor: default;
}
.submit-status.dispatch-submitting .dispatch-submit {
  cursor: auto;
  color: #c6a54b;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.submit-status.dispatch-submitting .submit-notif-submitting {
  display: inline;
  font-size: 17px !important;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -114px;
  cursor: default;
}

.submit-status.dispatch-submitting .submit-notif-submitting i {
  animation: loading 1000ms linear infinite;
  display: inline-block;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.submit-status.dispatch-success .dispatch-submit {
  cursor: auto;
  background: #4bb543;
  color: #4bb543;
  transition: all 0.2s ease;
}

.submit-status.dispatch-success .dispatch-submit:hover {
  opacity: 1;
  cursor: default;
}
.submit-status-alt.dispatch-submitting .dispatch-submit {
  cursor: auto;
  color: #c6a54b;
  transition: all 0.2s ease;
  opacity: 0.8;
}

.submit-status-alt.dispatch-submitting .submit-notif-submitting {
  display: inline;
  font-size: 16px !important;
  font-family: "Montserrat Light";
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -108px;
  cursor: default;
}

.submit-status-alt.dispatch-submitting .submit-notif-submitting i {
  animation: loading 1000ms linear infinite;
  display: inline-block;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.submit-status-alt.dispatch-submitting .hazard-form--btn-wrap {
  position: relative;
}

.submit-status-alt.dispatch-submitting
  .hazard-form--btn-wrap
  .submit-notif-submitting {
  margin-top: -14px;
}

.submit-status-alt.dispatch-success .dispatch-submit {
  cursor: auto;
  background: #4bb543;
  color: #4bb543;
  transition: all 0.2s ease;
}

.submit-status-alt.dispatch-success .dispatch-submit:hover {
  opacity: 1;
  cursor: default;
}
.submit-status.dispatch-success .submit-notif-success {
  display: inline;
  font-size: 17px !important;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -182px;
  cursor: default;
}

.submit-status.dispatch-success .submit-notif-success i {
  color: #fff;
  display: inline-block;
}

.submit-status-alt .submit-notif-submitting {
  font-size: 16px !important;
  display: none;
}

.submit-status-alt .submit-notif-success {
  font-size: 16px !important;
  display: none;
}

.submit-status-alt .welcome-form--btn-wrap {
  position: relative;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

.submit-status-alt.dispatch-success .submit-notif-success {
  display: inline;
  font-size: 16px !important;
  font-family: "Montserrat Light";
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -162px;
  cursor: default;
}

.submit-status-alt.dispatch-success .submit-notif-success i {
  color: #fff;
  display: inline-block;
}

.submit-status-alt.dispatch-success
  .hazard-form--btn-wrap
  .submit-notif-success {
  margin-top: -14px;
  margin-left: -171px;
}

.submit-status-alt.dispatch-success
  .site-info-form--btn-wrap
  .submit-notif-success {
  margin-left: -171px;
}

@media (max-width: 480px) {
  .submit-status.dispatch-success .submit-notif-success {
    font-size: 13px !important;
    margin-left: -129px;
    letter-spacing: -0.5px;
    top: 34%;
  }
}

@media (max-width: 375px) {
  .submit-status-alt.dispatch-success
    .hazard-form--btn-wrap
    .submit-notif-success {
    font-size: 14px !important;
    margin-left: -147px;
    letter-spacing: -0.1px;
    margin-top: -13px;
  }
}

@media (max-width: 375px) {
  .submit-status-alt.dispatch-success
    .site-info-form--btn-wrap
    .submit-notif-success {
    font-size: 13px !important;
    margin-left: -138px !important;
    margin-top: -6px;
    letter-spacing: 0;
  }
}







@media (max-width: 768px) {
  .forms-quote .chkbox-container .form-notification {
    top: 104px;
  }
}@media (max-width: 768px) {
  .forms-quote .input-container .form-notification {
    top: 39px;
  }
}



@media (max-width: 768px) {
  .forms-quote .chkbox-container .form-notification {
    top: 104px;
  }
}

@media (max-width: 768px) {
  .forms-quote .input-container .form-notification {
    top: 39px;
  }
}


@media only screen and (max-width: 1200px) {
  .forms-quote .long-lbl {
    width: 90% !important;
  }
}




@media (max-width: 768px) {
  .forms-quote .chkbox-container .form-notification {
    top: 104px;
  }
}

@media (max-width: 768px) {
  .forms-quote .input-container .form-notification {
    top: 39px;
  }
}





@media (max-width: 480px) {
  .home-video-section::before {
    background: #1a1a1a;
    content: "";
    width: 100%;
    height: 210px;
    display: block;
    position: absolute;
  }
}




















.input-container i.fa.fa-usd.currency {
  padding: 7px 4px 7px 22px;
  margin: 0;
  min-width: 12px;
}


.submit-status-alt .submit-notif-submitting {
  font-size: 16px !important;
  display: none;
}

.submit-status-alt .submit-notif-success {
  font-size: 16px !important;
  display: none;
}

.submit-status-alt .welcome-form--btn-wrap {
  position: relative;
}

.submit-status-alt.dispatch-success .submit-notif-success {
  display: inline;
  font-size: 16px !important;
  font-family: "Montserrat Light";
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  left: 50%;
  margin-left: -162px;
  cursor: default;
}

.submit-status-alt.dispatch-success .submit-notif-success i {
  color: #fff;
  display: inline-block;
}

.submit-status-alt.dispatch-success
  .hazard-form--btn-wrap
  .submit-notif-success {
  margin-top: -14px;
  margin-left: -171px;
}

.submit-status-alt.dispatch-success
  .site-info-form--btn-wrap
  .submit-notif-success {
  margin-left: -171px;
}.submit-status.dispatch-success .submit-notif-success {
  display: inline;
  font-size: 17px !important;
  color: #fff;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -182px;
  cursor: default;
}

.submit-status.dispatch-success .submit-notif-success i {
  color: #fff;
  display: inline-block;
}
.submit-status .submit-notif-submitting,
.submit-status .submit-notif-success {
  font-size: 17px !important;
  display: none;
}
.chkbox-container .control-wrapper div:nth-child(1) {
  display: flex;
  width: 50%;
}