@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: unset;
  height: unset;
}

@-webkit-keyframes fade {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

@keyframes fade {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

@keyframes scrollright {
  0% {
    transform: translateX(calc(-300px * 18));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scrollleft {
  0% {}

  100% {
    transform: translateX(calc(-250px * 18));
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}



#mobile-menu {
  /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}




#team .slick-list {
  width: 85% !important;
  margin: 0 auto !important;
}


#team .slick-slide>div {
  margin: 0 !important;
}

@media screen and (max-width: 991px) {
  #content-middle .slick-list {
    width: 100% !important;
    margin: 0 auto !important;
  }

}

@media (min-width: 768px) {

  #team .slick-list {
    width: 92% !important;
    margin-left: auto !important;
    margin-right: 0 !important;
  }

  #team .slick-track {
    display: flex;
    justify-content: space-evenly !important;
    gap: 0.7rem;
  }
}

@media (min-width: 1024px) {

  #team .slick-list {
    width: 94% !important;
    margin-left: auto !important;
    margin-right: 0 !important;
  }

}

@media only screen and (max-width: 320px) {}

#content-middle .slick-list {
  width: 90% !important;
  margin: 0 auto !important;
}






@media (max-width: 1024px) {}

@media (max-width: 414px) {}




@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 736px) {}

@media only screen and (max-width: 450px) {}



.section-wrapper {
  background: url("../../public/images/bg-quote-header-left.webp") left top no-repeat, url("../../public/images/bg-quote-header-right.webp") right top no-repeat;
  width: 100%
}






@media (max-width: 480px) {}



strong {
  font-weight: 500;
}





html {
  scroll-behavior: smooth;
}




@media (max-width: 768px) {

  .partners--item__partner .rowluk-img,
  .partners--item__partner .abir-img,
  .partners--item__partner .corporate-uk-img,
  .partners--item__partner .protective-img {
    width: 90% !important
  }

  .partners--item__partner .avertic_img {
    width: 60% !important
  }
}


.partners ul li {
  position: relative;
  padding-left: 1em;
  /* Space for the bullet */
}

.partners ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  font-size: 18px;
  font-weight: 900;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}

.partner-logo {
  display: block;
  margin: 30px auto;
  float: none;
  width: var(--mobile-width);
  /* Default to mobile width */
}

/* Apply styles for screens 768px and above */
@media (min-width: 768px) {
  .partner-logo {
    margin-left: 24px;
    margin-bottom: 30px;
    float: right;
    width: var(--logo-width);
    /* Apply desktop width */
  }
}

.scroll-height {

  width: auto;
  /* Default to mobile width */
}

/* Apply styles for screens 768px and above */
@media (min-width: 992px) {
  .scroll-height {
  
    height: var(--scroll-height);
    /* Apply desktop width */
  }
}

#faq a {
  color: #957433;
  font-weight: 500;
  font-family: "Montserrat";
}

/* Apply styles for screens 768px and above */
@media (min-width: 1024px) {
  #video-section {

    height: var(--video-height);
    /* Apply desktop width */
  }
}

.services-list li::before {
  content: "";
  display: inline-block;
  height: 15px;
  width: 20px;
  background-image: url(../../public/images/icons/check.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding-right: 34px;
}

.services-list  {
  width: 430.719px;
  margin: 0 auto;
}

.services-list li {
  text-indent: -2.2em;
}