@tailwind base;
@tailwind components;
@tailwind utilities;

img,
video {
  max-width: unset;
  height: unset;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

@keyframes fade {
  from {
    filter: brightness(0);
  }

  to {
    filter: brightness(1);
  }
}

@keyframes scrollright {
  0% {
    transform: translateX(calc(-300px * 18));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scrollleft {
  0% {}

  100% {
    transform: translateX(calc(-250px * 18));
  }
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: bolder;
  font-size: 42px;
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 26px;
  font-weight: initial;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 18px;
}

p strong {
  font-family: "Montserrat Light";
}


#mobile-menu {
  /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
  -webkit-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  -moz-box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}

@media only screen and (max-width: 1366px) {}

@media only screen and (max-width: 1280px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 414px) {}

@media only screen and (max-width: 320px) {}