<div id="banner">
    <div id="banner-slider" onmouseover="stopBanner()" onmouseout="slideBannerNow()">
        <div class="slideshow-container">
            <div class="bannerSlides fade" style="display: block">
                <picture>
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-1-mobile.jpg"
                        media="(max-width: 480px)" />
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-1-tablet.jpg"
                        media="(max-width: 768px)" />
                    <img src="https://www.securecash.com.au/images/banner/Slide-1-web.jpg" alt="" />
                </picture>
                <div class="inner">
                    <div class="text">
                        <hr class="divider-2 divider-white" />
                        <h3 class="prata">Let Us Do Your Banking,</h3>
                        <h1 class="montSemi">Don't Take The Risk!</h1>
                        <p>Anywhere. Anytime. Australia Wide.</p>
                        <a href="#welcome" class="btn-wrapper">
                            <div class="d-btn btn-learn-more">
                                <p>Learn More</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bannerSlides fade">
                <picture>
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-2-mobile.jpg"
                        media="(max-width: 480px)" />
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-2-tablet.jpg"
                        media="(max-width: 768px)" />
                    <img src="https://www.securecash.com.au/images/banner/Slide-2-web.jpg" alt="" />
                </picture>
                <div class="inner">
                    <div class="text">
                        <hr class="divider-2 divider-white" />
                        <h3 class="prata">Start Taking Advantage Of Our Services Today</h3>
                        <h1 class="montSemi">Get A Quote From SecureCash</h1>
                        <p>We Just Need A Few Details!</p>
                        <a href="https://www.securecash.com.au/quote/" class="btn-wrapper">
                            <div class="d-btn btn-learn-more">
                                <p>Get a Quote</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bannerSlides fade">
                <picture>
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-3-mobile.jpg"
                        media="(max-width: 480px)" />
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-3-tablet.jpg"
                        media="(max-width: 768px)" />
                    <img src="https://www.securecash.com.au/images/banner/Slide-3-web.jpg" alt="" />
                </picture>
                <div class="inner">
                    <div class="text home-hero--bannerslides-3__text">
                        <hr class="divider-2 divider-white" />
                        <h3 class="prata">We're Pushing Our Industry Into The Future</h3>
                        <h1 class="montSemi">Take Advantage Of Our eDockets System</h1>
                        <p>Control Your Services With A Click Of A Button</p>
                        <a href="https://www.edockets.app/" target="_blank" class="btn-wrapper">
                            <div class="d-btn btn-learn-more">
                                <p>Learn More</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bannerSlides fade">
                <picture>
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-4-mobile.jpg"
                        media="(max-width: 480px)" />
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-4-tablet.jpg"
                        media="(max-width: 768px)" />
                    <img src="https://www.securecash.com.au/images/banner/Slide-4-web.jpg" alt="" />
                </picture>
                <div class="inner">
                    <div class="text">
                        <hr class="divider-2 divider-white" />
                        <h3 class="prata">Our Services Are Covert</h3>
                        <h1 class="montSemi">We Don't Attract Unwanted Attention</h1>
                        <p>A Safer Solution For Your Business</p>
                        <a href="https://www.securecash.com.au/about-us/#about-us-section-service" class="btn-wrapper">
                            <div class="d-btn btn-learn-more">
                                <p>Learn More</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bannerSlides fade">
                <picture>
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-5-mobile.jpg"
                        media="(max-width: 480px)" />
                    <source srcset="https://www.securecash.com.au/images/banner/Slide-5-tablet.jpg"
                        media="(max-width: 768px)" />
                    <img src="https://www.securecash.com.au/images/banner/Slide-5-web.jpg" alt="" />
                </picture>
                <div class="inner">
                    <div class="text home-hero--bannerslides-5__text">
                        <hr class="divider-2 divider-white" />
                        <h3 class="prata">Use A Provider You Can Trust</h3>
                        <h1 class="montSemi">We have Been Operating Over 25 Years</h1>
                        <p>Our Managers Have Over 100 Years Combined Industry Experience</p>
                        <a href="https://www.securecash.com.au/about-us/" class="btn-wrapper">
                            <div class="d-btn btn-learn-more">
                                <p>About Us</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-controls">
            <div class="dot-navigation">
                <ul>
                    <li><span class="dot active" onclick="currentSlide(1)"></span></li>
                    <li><span class="dot" onclick="currentSlide(2)"></span></li>
                    <li><span class="dot" onclick="currentSlide(3)"></span></li>
                    <li><span class="dot" onclick="currentSlide(4)"></span></li>
                    <li><span class="dot" onclick="currentSlide(5)"></span></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="inner">
        <div id="banner-info">
            <div class="mid-row">
                <i class="fa fa-phone"></i><span>&nbsp;&nbsp;&nbsp;&nbsp;Ask Us Anything
                    <a href="tel:1300732873">1300 SECURE</a></span>
            </div>
            <div class="mid-row email-desktop">
                <i class="fa fa-envelope"></i>
                <span>&nbsp;&nbsp;For Quotes and Enquiries&nbsp;
                    <a href="mailto:customers@securecash.com.au">customers@securecash.com.au</a>
                </span>
            </div>
            <div class="mid-row email-mobile">
                <i class="fa fa-envelope"></i><span>&nbsp;&nbsp;<a
                        href="mailto:customers@securecash.com.au">customers@securecash.com.au</a></span>
            </div>
            <div class="mid-row">
                <i class="fa fa-users"></i><span>&nbsp;&nbsp;Learn More <a
                        href="https://www.securecash.com.au/about-us/">About us</a></span>
            </div>
        </div>
    </div>
</div>