<div id="welcome" class="content-bg">
    <div class="inner">
        <div id="content">
            <div class="center-content">
                <h4 class="header-times" style="text-align:center;">Welcome to</h4>
                <img src="https://www.securecash.com.au/images/SecureCash.png" alt="SecureCash" id="content-logo">
                <hr class="divider-2 divider-gold divider-bottom">
                <p id="header-content">Do you need cash in transit services? SecureCash specialises in picking up your
                    money and banking it. Wherever you are, anywhere in Australia, any time of the day or night, seven
                    days a week, we can collect your takings and deposit them at your bank. Whether you need cash
                    collection, cash counting, or cash delivery, SecureCash has got you covered.&nbsp;</p>
            </div>
            <div class="content-columns align-left">
                <div class="leftside-column">
                    <div class="main-content-scroll">
                        <div class="scrollable-content">
                            <h3 style="text-align:left;">Our Cash In Transit Services</h3>
                            <p>What cash in transit service does your business need? As one of the largest and most
                                respected cash logistics companies in Australia, SecureCash can serve your specific
                                needs, we provide:<a class="read-more-link"
                                    onclick="showMoreContent(this, 'intro-more-content')"> Read More </a></p>
                            <div id="intro-more-content">
                                <div class="item-box align-left">
                                    <div class="p-header"><img class="icon-service"
                                            src="https://www.securecash.com.au/images/contentpageicons/cashcollection.png"
                                            alt="cash collection">
                                        <h4>Cash Collection Services</h4>
                                    </div>
                                    <p>Our plain clothes staff will visit your premises at an agreed time, pick up and
                                        secure your takings, drive them to your bank in one of our unmarked vehicles and
                                        deposit them in your account. At a later time, we will deliver the bank deposit
                                        records back to your office. We call this our "Banking Courier Service" and we
                                        can collect your cash takings (including cheques) any hour or any day or night.
                                        That includes weekends and public holidays because our number one priority is
                                        ensuring the cash security of our clients.</p>
                                </div>
                                <div class="item-box align-left">
                                    <div class="p-header"><img class="icon-service"
                                            src="https://www.securecash.com.au/images/contentpageicons/cashdelivery.png"
                                            alt="cash collection">
                                        <h4>Cash Delivery Services</h4>
                                    </div>
                                    <p>When you want cash delivered to your organisation, just order our cash delivery
                                        service. We call it a "Change Order Service" because often our clients are
                                        ordering small change to meets their trading needs. So we pick up the needed
                                        amount of change, in whatever denominations you require.</p>
                                </div>
                                <div class="item-box align-left">
                                    <div class="p-header"><img class="icon-service"
                                            src="https://www.securecash.com.au/images/cashcounting.png"
                                            alt="cash collection">
                                        <h4>Cash Counting Services</h4>
                                    </div>
                                    <p>If you don't want your staff to have to deal with counting the takings, our cash
                                        counting service can assist. We collect your cash and count it before depositing
                                        it into your bank account. <a class="read-more-link"
                                            onclick="showLessContent(this, 'intro-more-content')"> Show Less </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightside-column"><iframe
                        src="https://player.vimeo.com/video/312442368?autoplay=0&amp;title=0&amp;byline=0&amp;portrait=0"
                        frameborder="0" allowfullscreen></iframe></div>
            </div>
        </div>
    </div>
</div>
<div id="banner-mid">%%Home-Counter%%</div>
<div id="content-middle">
    <div class="inner content-middle-wraper">
        <div class="left-row-content-middle">
            <div class="service-container">
                <hr class="divider-2 divider-white">
                <h3 class="prata2">Let Us Do Your Banking,</h3>
                <h2 class="montSemiBold">Don't Take The Risk!</h2>
                <p class="small">Anywhere, Anytime, Australia Wide</p>
            </div>
        </div>
        <div class="right-row-content-middle">
            <div id="service-slider">
                <div class="carousel">
                    <div class="slides"><input type="radio" name="radio-buttons" id="img-1" checked="checked">
                        <div class="slide-container">
                            <div class="slide-image"><input type="radio" name="mobile-radio-buttons" id="mobimg-1"
                                    checked="checked">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/australia.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">Australia Wide</h3>
                                        <p class="text-paragraph montLight">SecureCash is a one stop cash in transit
                                            agency that will manage your banking &amp; change order services no matter
                                            where you are located in Australia.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-6"
                                            class="prev-slide"><span>&lsaquo;</span> </label> <label for="mobimg-2"
                                            class="next-slide"> <span>&rsaquo;</span></label></div>
                                </div>
                                <input type="radio" name="mobile-radio-buttons" id="mobimg-2">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/edocket.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">eDocket System</h3>
                                        <p class="text-paragraph montLight">Using our industry leading software
                                            technology unique to only SecureCash, we are able to track &amp; trace your
                                            deposit with a click of a button.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-1"
                                            class="prev-slide"><span>&lsaquo;</span></label> <label for="mobimg-3"
                                            class="next-slide"><span>&rsaquo;</span></label></div>
                                </div>
                                <input type="radio" name="mobile-radio-buttons" id="mobimg-3">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/flexible.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">Total Flexibility</h3>
                                        <p class="text-paragraph montLight">You can have your banking collected on any
                                            day or days you choose, &amp; you are free to cancel or change the days your
                                            banking is collected when ever you want.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-2"
                                            class="prev-slide"><span>&lsaquo;</span></label> <label for="mobimg-4"
                                            class="next-slide"> <span>&rsaquo;</span></label></div>
                                </div>
                            </div>
                            <div class="carousel-controls"><label for="img-2"
                                    class="prev-slide"><span>&lsaquo;</span></label> <label for="img-2"
                                    class="next-slide"><span>&rsaquo;</span> </label></div>
                        </div>
                        <input type="radio" name="radio-buttons" id="img-2">
                        <div class="slide-container">
                            <div class="slide-image"><input type="radio" name="mobile-radio-buttons" id="mobimg-4">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/banks.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">All Major Banks</h3>
                                        <p class="text-paragraph montLight">We work with most major banks in Australia
                                            including the NAB, Commonwealth Bank, ANZ, Westpac &amp; some local banks
                                            such as BankSA &amp; Bendigo Bank.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-3" class="prev-slide">
                                            <span>&lsaquo;</span> </label> <label for="mobimg-5" class="next-slide">
                                            <span>&rsaquo;</span> </label></div>
                                </div>
                                <input type="radio" name="mobile-radio-buttons" id="mobimg-5">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/contracts.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">No Lock-in Contracts</h3>
                                        <p class="text-paragraph montLight">We do not lock you into lengthy con tracts,
                                            you are free to try our service &amp; if you find that it is not suitable
                                            for your organisation then you can cancel at anytime with notice.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-4" class="prev-slide">
                                            <span>&lsaquo;</span> </label> <label for="mobimg-6" class="next-slide">
                                            <span>&rsaquo;</span> </label></div>
                                </div>
                                <input type="radio" name="mobile-radio-buttons" id="mobimg-6">
                                <div class="service-item">
                                    <div class="service-img"><img
                                            src="https://www.securecash.com.au/images/icons/olservices.png" alt></div>
                                    <div class="service-info">
                                        <h3 class="text-heading montBold">Online Services<span
                                                class="montLight">&nbsp;&nbsp;(<a
                                                    href="https://service.securecash.com.au/">Login Here</a>)</span>
                                        </h3>
                                        <p class="text-paragraph montLight">Customers are able to book extra pickups,
                                            cancel a schedule pickup, submit change orders, &amp; even verify a banking
                                            couriers identification all online.</p>
                                    </div>
                                    <div class="serviceitem-controls"><label for="mobimg-5" class="prev-slide">
                                            <span>&lsaquo;</span> </label> <label for="mobimg-1" class="next-slide">
                                            <span>&rsaquo;</span> </label></div>
                                </div>
                            </div>
                            <div class="carousel-controls"><label for="img-1" class="prev-slide"> <span>&lsaquo;</span>
                                </label> <label for="img-1" class="next-slide"> <span>&rsaquo;</span> </label></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="home-video-section">%%VideoContent%%</div>
<div id="content-contact">
    <div class="inner-big">
        <div class="left-contact-row">%%Form--Quote%%</div>
        <div class="right-contact-row">
            <h3 class="prata2">Make The Right Choice</h3>
            <hr class="divider-2 divider-gold divider-bottom">
            <h2 class="montSemiBold">Why Choose SecureCash?</h2>
            <p class="small">For one reason: We have been established for over 25 years, since 1992 to be exact!</p>
            <div class="content-scroll">
                <ul>
                    <li>
                        <h4>Plain clothes:</h4>
                        <p>Our couriers do not wear security uniforms. This is so they blend in with the crowd. It is to
                            avoid drawing any attention to your business (or your staff or your customers) during the
                            cash handling process. Unmarked vehicles: The same concern underpins our decision to use
                            regular-looking vehicles. To draw no attention to your business activities.</p>
                    </li>
                    <li>
                        <h4>No contracts:</h4>
                        <p>Our focus is on delivering a reliable cash courier service that is affordably priced. We do
                            not feel we need to lock our clients into contracts. So you can contact us on an "as
                            required" basis, you can cancel anytime with notice, or you can establish a regular schedule
                            if you find our service works well for you. We think it will, by the way.<a href="#"></a>
                        </p>
                    </li>
                    <li>
                        <h4>Australia Wide:</h4>
                        <p>Coast to coast, anywhere in Australia, we've got your cash security needs covered. With
                            branches in Adelaide, Brisbane, Canberra, Melbourne, Perth, and Sydney and a network of
                            licensed contractors covering the rest of the country, you can rely on SecureCash to get the
                            job done.</p>
                    </li>
                    <li>
                        <h4>Anytime:</h4>
                        <p>We don't keep "office hours" because many of our clients don't either. Whatever you need,
                            whenever you need it, we'll be there for you. After hours and public holidays included.
                            Online bookings: You can use our website to manage your cash courier needs, 24x7. Make a
                            booking, adjust your booking, cancel your booking. Do it all via your secure login at our
                            website. Or you can phone us.</p>
                    </li>
                    <li>
                        <h4>Verify our couriers:</h4>
                        <p>There is one feature of our website we want to be sure you know about. Anytime you want to,
                            you can login to verify the ID of our banking courier who is handling your cash. It's all
                            about giving you, our valued clients, peace of mind.<a href="#"></a></p>
                    </li>
                    <li>
                        <h4>Your peace of mind:</h4>
                        <p>We want you to know you can trust us as we are an Australian owned and operated business.
                            Affordable: We don't pay for expensive media advertising campaigns. And that helps us keep
                            our pricing realistic. Phone us today to discuss your needs and learn how affordable our
                            services are.</p>
                    </li>
                    <li>
                        <h4>We are specialists:</h4>
                        <p>As a national courier company, we do one thing, and we do it well. We do "cash in transit" -
                            with all its permutations. Whatever your particular need, give us a call.</p>
                    </li>
                    <li>
                        <h4>Special events:</h4>
                        <p>If your group is running a fundraiser or a fete or some other function that involves cash,
                            you will be pleased to know you can order our service on a one-time basis. Tell us how much
                            cash you need to be delivered before the big event, and tell us the closing time, and we'll
                            be there to take care of you.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="bottom-content">
    <div class="bottom-row-left">
        <div class="row-container home-services-section">
            <hr class="divider-2 divider-white divider-small">
            <h3 class="prata2">Your One-Stop</h3>
            <h2 class="montSemiBold">Secure Banking Courier Service</h2>
            <p class="small">SecureCash can serve your specific needs, we provide:</p>
            <div id="content-cash">
                <div class="cash-row">
                    <div class="header-wrapper"><img
                            src="https://www.securecash.com.au/images/icons/cash-collections.png" alt>
                        <h3 class="montBold"><a href="https://www.securecash.com.au/cash-collection/">Cash
                                Collection</a></h3>
                    </div>
                    <p>Our cash collection service is straight forward and simple to use; but first of all, when we
                        refer to the term 'cash collection' we simply mean we come to your business pick up your money,
                        both cash &amp; cheques and take it to the bank on your behalf!</p>
                </div>
                <div class="cash-row">
                    <div class="header-wrapper"><img src="https://www.securecash.com.au/images/icons/cash-delivery.png"
                            alt>
                        <h3 class="montBold"><a href="https://www.securecash.com.au/cash-delivery/">Cash Delivery</a>
                        </h3>
                    </div>
                    <p>Another one of our popular cash in transit service that we provide is our cash delivery service.
                        We deliver the amount of cash you require broken down into different denominations as requested,
                        delivered direct to your organization.</p>
                </div>
                <div class="cash-row">
                    <div class="header-wrapper"><img src="https://www.securecash.com.au/images/icons/cash-counting.png"
                            alt>
                        <h3 class="montBold"><a href="https://www.securecash.com.au/cash-counting/">Cash Counting</a>
                        </h3>
                    </div>
                    <p>Our cash counting is one of the most valued and time saving services that we have to offer.
                        Essentially the same as our cash collection service, but the difference is that the cash
                        collected will be taken back to our depot where it will be sorted and counted.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-row-right"></div>
</div>