<div id="footer-links">
    <div class="inner footer-wrapper">
        <div class="left-column">
            <h4 class="prata">Useful Links</h4>
            <hr class="divider-2 divider-gold divider-bottom" />
            <div class="footer-lnk-cols">
                <div class="mid-row">
                    <ul>
                        <li><a href="https://www.securecash.com.au">Home</a></li>
                        <li><a href="https://www.securecash.com.au/cash-in-transit/">Services</a></li>
                        <li><a href="https://www.securecash.com.au/quote/">Get a Quote</a></li>
                        <li><a href="https://www.securecash.com.au/contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="mid-row">
                    <ul>
                        <li><a href="https://service.securecash.com.au/">Online Services</a></li>
                        <li><a href="https://www.edockets.app/">eDocket App</a></li>
                        <li><a href="https://www.securecash.com.au/blog/">Blog</a></li>
                        <li><a href="https://www.securecash.com.au/franchise/">SecureCash Franchises</a></li>
                    </ul>
                </div>
                <!-- <div class="mid-row">Add this for third column.</div> -->
            </div>
            <div class="mobile-footer-lnk-cols">
                <div class="col-left">
                    <ul>
                        <li><a href="https://www.securecash.com.au">Home</a></li>
                        <li><a href="https://www.securecash.com.au/cash-in-transit/">Services</a></li>
                        <li><a href="https://www.securecash.com.au/quote/">Get a Quote</a></li>
                        <li><a href="https://www.securecash.com.au/contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-right">
                    <ul>
                        <li><a href="https://service.securecash.com.au/">Online Services</a></li>
                        <li><a href="https://www.edockets.app/">eDocket App</a></li>
                        <li><a href="https://www.securecash.com.au/blog/">Blog</a></li>
                        <li><a href="https://www.securecash.com.au/franchise/">SecureCash Franchises</a></li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="right-column">
            <h4 class="prata">Contact</h4>
            <hr class="divider-2 divider-gold divider-bottom" />
            <ul>
                <li><i class="fa fa-phone"></i>&nbsp;&nbsp;&nbsp;<a href="tel:1300732873">1300 SECURE / 1300732873</a>
                </li>
                <li><i
                        class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;&nbsp;Anywhere,&nbsp;&nbsp;Anytime,&nbsp;&nbsp;Australia
                    Wide</li>
                <li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a
                        href="mailto:customers@securecash.com.au">customers@securecash.com.au</a></li>
                <li><i class="fa fa-star"></i>&nbsp;&nbsp;&nbsp;Proudly Serving Customers Australia Wide 24/7</li>
            </ul>
        </div>
    </div>
</div>